@font-face {
    font-family: Jet Mono;
    src: url(JetBrainsMono[wght].ttf);
}
@font-face {
    font-family: Brico;
    src: url(BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: Teen;
    src: url(Brusher.ttf);
}

body{
    font-family: Jet Mono;
    background: rgb(202, 180, 255);
    color: black;
    font-size: small;
}
.header{
    padding-top: 1px;
    padding-left: 2vh;
    padding-bottom: 5vw;
    
}
.dsa{
    padding-top: 4vw;
    padding-right: 50vw;
    text-align: center;
}
.dsa a{
    color: black;
    text-decoration: none;
}
.sem{
    padding-left: 50vw;
    text-align: center;
}
.sem a{
    color: black;
    text-decoration: none;
}

/* .{
    padding-top: 1vh;
    text-align: center;
} */
/* .bae_pic{
    width: 15vh;
} */

.huh{
    padding-top: 10vw;
    padding-left: 30vw;
    text-align: center;
}
.huh a{
    color: black;
    text-decoration: none;
}
.header_fifth{
    padding-top: 1px;
    padding-left: 2vh;
    padding-bottom: 10vh;
    width: fit-content;
}
.header_fifth a{
    text-decoration: none;
    color: white;
}

.fifthsemhtml{
    background-color: black;
    color: white;
}
.fifthsemhtm{
    background-color: white;
    color: black;
}
.uhh{
    padding-left: 2vh;
}
.header_fift{
    padding-top: 1px;
    padding-left: 2vh;
    padding-bottom: 10vh;
    width: fit-content;
}
.header_fift a{
    text-decoration: none;
    color: black;
}
.baeepic{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    /* padding-top: 4vw; */
}
.kpic{
    /* text-align: center; */
    width: 20vh;
}
.one{
    display: inline-block;
    text-align: center;
    padding-left: 20vw;
}
.one a{
    text-decoration: none;
    color: black;
}
.uh{
    padding-top: 5vw;
    display: inline-block;
    text-align: center;
    padding-left: 30vw;
}
.uh a{
    text-decoration: none;
    color: black;
}
.some{
    display: flex;
}
.u{
    /* padding-top: -vw; */
    /* padding-left: 3vw; */
    margin-top: -3vw;
    display: inline-block;
    text-align: center;
    padding-left: 30vw;
}
.u a{
    text-decoration: none;
    color: black;
}
.prettytext{
    font-family: Brico;
    font-size: x-large;
    font-weight: bolder;
}
.pol{
    /* display: inline-block; */
    text-align: center;
    top: 60%;
    right: 13%;
    /* transform: translate(-50%, -50%); */
    position: absolute;
}
.pol a{
    text-decoration: none;
    color: black;
}

.pola{
    background-color: rgb(171, 171, 171);
    color: rgb(0, 0, 0);
}
.pookie{
    position: absolute;
    /* padding-top: 10vw; */
    /* padding-left: 30vw; */
    top: 25%;
    right: 60%;
    text-align: center;
}
.pookie a{
    color: black;
    text-decoration: none;
}
.us{
    position: absolute;
    /* padding-top: 10vw; */
    /* padding-left: 30vw; */
    top: 55%;
    left: 10%;
    text-align: center;
}
.us a{
    color: black;
    text-decoration: none;
}

.wish-eyelash{
    position: absolute;
    /* padding-top: 10vw; */
    /* padding-left: 30vw; */
    top: 85%;
    right: 8%;
    text-align: center;
}
.wish-eyelash a{
    color: black;
    text-decoration: none;
}
.item {
    width: 28vw;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
    left: 5%;
    position: absolute;
    box-shadow: 0 1.1rem 2rem rgba(0,0,0,0.4);
    transform: rotate(2deg);
  }
  .polaroid {
    /* background-image: url("img/white-paper-texture.jpg") ; */
    background: #fff;
    padding: 1vw;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    
  }
  .polaroid > img{
    max-width: 100%;
    height: auto;
  }
  .caption {
    font-family: Teen;
    font-size: 1.8vw;
    text-align: center;
    line-height: 4vw;
  }
  .itemtwo {
    width: 28vw;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
    left: 38%;
    position: absolute;
    box-shadow: 0 1.1rem 1.5rem rgba(0,0,0,0.4);
    transform: rotate(-1deg);
  }
  .itemthree {
    width: 28vw;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
    top: 20%;
    left: 69%;
    position: absolute;
    box-shadow: 0 1.1rem 1.4rem rgba(0,0,0,0.4);
    transform: rotate(0.5deg);
  }
  .itemfour {
    width: 28vw;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
    top: 80%;
    left: 14%;
    position: absolute;
    box-shadow: 0 1.1rem 1.5rem rgba(0,0,0,0.4);
    transform: rotate(0.5deg);
  }
  .itemfive {
    width: 28vw;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
    top: 81%;
    left: 54%;
    position: absolute;
    box-shadow: 0 1.1rem 1.5rem rgba(0,0,0,0.4);
    /* transform: rotate(0.5deg); */
  }
  .footer{
    /* padding: 3%; */
    position: absolute;
    /* height: 1vw; */
    top: 150%;
  }

  .audio-wrapper{
    opacity: 0;
  }

.wish-text{
    padding-left: 3rem;
    font-size:x-large;
}