@font-face {
    font-family: Jet Mono;
    src: url(JetBrainsMono[wght].ttf);
}

body{
    font-family: Jet Mono;
    background: rgb(222, 124, 121);
    color: black;
    font-size: small;
}
.header{
    padding-top: 1px;
    padding-left: 2vh;
    padding-bottom: 10vw;
}
.dsa{
    padding-right: 50vw;
    text-align: center;
}
.dsa a{
    color: black;
    text-decoration: none;
}
.sem{
    padding-left: 50vw;
    text-align: center;
}
.sem a{
    color: black;
    text-decoration: none;
}

/* .{
    padding-top: 1vh;
    text-align: center;
} */
/* .bae_pic{
    width: 15vh;
} */

.huh{
    padding-top: 10vw;
    padding-left: 30vw;
    text-align: center;
}
.huh a{
    color: black;
    text-decoration: none;
}
.header_fifth{
    padding-top: 1px;
    padding-left: 2vh;
    padding-bottom: 10vh;
    width: fit-content;
}
.header_fifth a{
    text-decoration: none;
    color: white;
}

.fifthsemhtml{
    background-color: black;
    color: white;
}
.fifthsemhtm{
    background-color: white;
    color: black;
}
.uhh{
    padding-left: 2vh;
}
.header_fift{
    padding-top: 1px;
    padding-left: 2vh;
    padding-bottom: 10vh;
    width: fit-content;
}
.header_fift a{
    text-decoration: none;
    color: black;
}
.baeepic{
    text-align: center;
    padding-top: 2vw;
}
.kpic{
    text-align: center;
    width: 20vh;
}
.one{
    display: inline-block;
    text-align: center;
    padding-left: 20vw;
}
.one a{
    text-decoration: none;
    color: black;
}